<div class="ui container">
  <div class="ui secondary pointing menu">
    <a class="item" href="/quiz/new">Create New Quiz</a>
    <!-- <a class="item" href="#">View Question Bank</a> -->
  </div>

    <div class="row"><h1>Dashboard</h1></div>
      <div class="row">
        <div class="ui cards">
          <% quizzes.forEach(function (quiz) { %>
            <div class="card">
              <div class="content">
                <div class="header">
                  <%= quiz.name %>
                </div>
                <div class="meta">
                    Created by: Fake User
                </div>
                <div class="description">
                  <h4>Instructions:</h4>
                  <h5><%= quiz.instructions %></h5>
                </div>
              </div>
              <div class="extra content">
                <div class="ui three buttons">
                  <form action="/quiz/<%=quiz._id%>/live" method="GET">
                    <button type="submit" class="ui basic green button">Launch Quiz</button>
                  </form>
                  <form action="/quiz/<%=quiz._id%>" method="GET">
                    <button class="ui basic red button">Edit Quiz</button>
                  </form>
                </div>
              </div>
            </div>
        <% }) %>
      </div>
    </div>
    <!-- <div class="row" style="margin-top: 20px">
      <div class="">
        <h2>Load General Knowledge Quiz Obtained from Open Trivia DB API</h2><span>
          <a class="ui green button" href="/opentrivia">Get Quiz</a>
        </span>
      </div>
    </div> -->
</div>
