<div id="app">

  <div class="ui container">
    <h1>  {{ quiz_name }} : <span> <h1> {{  quiz_instructions }} </h1> </span></h1>
    <div v-if="showQuestion == false">
      <h3> To join quiz, go to <a>http://localhost:3000/live/response</a> , and enter the code below:</h3>
      <h3><%- (quiz._id).toString().substring(20, 24).toUpperCase() %></h3>
        <button class="ui button" v-on:click="startGame()">Start</button>
    </div>
    <question v-show="showQuestion"> </question>
  </div>
</div>


<script>

new Vue({
  el: "#app",
  data: {
    quiz_name: '<%= quiz.name %>',
    quiz_instructions: '<%= quiz.instructions %>',
    showQuestion: false
  },
  components: {
    question: {
      data: function () {
        return {
          questions: JSON.parse('<%- JSON.stringify(questions) %>'),
        }
      },
      template: '<div><div class="ui stacked segment" v-for="(question, index) in questions"><h3 v-bind:id="index">{{ index + 1 }} ) {{question.stem}}</h3><div class="ui horizontal segments"><div class="ui segment" v-for="(opt, index) in question.options">{{index + 1}}) {{ opt.content }}</div></div></div></div>',
    },
  },
  methods: {
    startGame: function () {
      this.showQuestion = true
    }
  }

})

var socket = io();


socket.on('connect', function() {
  console.log('Connected!');

})

socket.on('user joined', function(data) {
  console.log("data received fr index.js", data);
    $("#playerlist").empty()
  for (let i = 0; i < data.length; i++) {
    $("#playerlist").append('<div class="item">'+ data[i] + '%></div>')
  }
})

socket.on('assess answer', function() {

})

$("#nickname").on("click", function () {
  let data = { username: $("#username").val(), room: "room1" }
  console.log(data);
  $('#participant-form').append("<div class='ui positive message' id='confirmation'><h3>Hi, " + data.username + "! </h3><p> You have entered quiz successfully! The quiz will start soon.</p></div>")
  socket.emit('send username', data)
})

$("#start").on("click", function () {
  $("#quiz").css("visibility", "visible")
  $("#confirmation").remove()
})

$('div').on("click", "#choices", function() {
  console.log("choices clicked");
  let data = $(this).val()
  console.log(data);
  socket.emit('send response', data)
})

</script>
