
<div class="ui container">
<% participants.forEach(function (part){ %>
  <h3><%= part.username %> </h3>
<%}) %>
<button class="ui button" id="launch" type="button">Launch Game</button>

</div>
<script type="text/javascript">
var socket = io("http://localhost:3000", {path: '/quizzes/58bfb410d232c2477b48be63/live?id=58bfb410d232c2477b48be63'});

socket.on('connect', function() {
  console.log('Connected!');
})

socket.on('user joined', function () {
  window.location.reload()
})

</script>
