<div class="ui container">

<h3>To join quiz, enter quiz code below: </h3>

<form action="/livequiz/new" method="POST">
  <input type="text" name="code" placeholder="Enter quiz code">
  <input type="submit">
</form>

</div>
