
<div class="ui container">
  <div class="row">
    <h1>Create New Quiz</h1>
  </div>

  <form action="/quizzes" method="POST">
    <div class="ui form">
      <div class="field">
        <input type="text" name="name" placeholder="Name of Quiz">
      </div>
      <div class="field">
        <textarea rows="2" name="instructions" placeholder="Write your instructions here"></textarea>
      </div>
      <button class="ui button" type="submit">Next: Add Question(s)</button>
    </div>
  </form>

</div>
